#title {
    opacity: 1;
    -unity-font-style: bold;
    background-color: rgb(85, 85, 85);
    color: rgb(255, 255, 255);
    align-self: center;
    font-size: 20px;
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    top: 15px;
}

#seat-name {
    -unity-font-style: bold;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

#generate-btn {
    font-size: 15px;
    color: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    -unity-text-outline-color: rgba(0, 0, 0, 0);
    background-color: rgb(85, 85, 85);
}

#seat-background {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    top: 5px;
    width: 800px;
    height: 500px;
    background-color: rgb(0, 0, 0);
}

#seat {
    width: 8px;
    height: 8px;
    font-size: 0;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-color: rgb(255, 255, 255);
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
}

.seat {
}
